.title {
  font-family: Helvetica;
  font-size: 140px;
  font-weight: bold;
  color: white;
}
.img {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 170%;
  max-width: 100%;
  height: auto;
}
.link {
  font-family: Helvetica;
  font-size: 36px;
  color: white;
}
html {
  text-align: center;
  font-size: 28px;
}
#process {
    font-family: Helvetica;
    font-size: 64px;
    font-weight: bold;
}
h3 {
  font-family: Helvetica;
  font-size: 46px;
  font-weight: bold;
}
.designed {
  font-family: Helvetica;
  font-size: 46px;
  font-weight: bold;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.links {
  font-family: Helvetica;
  font-size: 22px;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
